.wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 3rem 2rem;
}

.addCartFlexWrap {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.addCartImgWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;
}

.addCartImg {
  width: 15%;
}

.textTitle {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
}

.textBtnWrap {
  margin-top: 1rem;
}
.textTotalPrice {
  font-size: 2rem;
  margin-right: 0.6rem;
}
.textOriginPrice {
  font-size: 1.6em;
}
.btn-num {
  background-color: transparent;
  color: black;
  border: none;
  border-radius: 0;
}
.btn-num:hover {
  background-color: #1f293733;
  border-radius: 0;
}

.btn-primary-left {
  border-radius: 8px 0 0 8px;
  background: #570df8;
}

.btn-primary-right {
  border-radius: 0 8px 8px 0;
  background: #570df8;
}

@media (min-width: 1025px) {
  .wrap {
    min-height: 44vh;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .addCartFlexWrap {
    flex-direction: row;
    width: 80%;
    align-items: center;
    justify-content: center;
  }

  .addCartImgWrap {
    width: 55%;
    display: flex;
    align-items: center;
  }

  .addCartImg {
    width: 100%;
    max-width: 250px; /* 최대 크기 제한 */
    height: auto;
  }
  .addCartTextWrap {
    width: 100%;
  }
  .textTitle {
    width: 80%;
  }
  .btnBox {
    display: flex;
  }

  .drawer section:nth-child(2) {
    position: relative;
  }
  .cartTotalWrap {
    display: flex;
    align-items: center;
    font-size: 24px;
    position: absolute;
    top: 154px;
    right: 0px;
    width: 200px;
  }
}
