.wrap {
  border: 1px solid black;
    margin-top: -40px;
    margin-left: 1rem;;
}
.addCartFlexWrap {
  margin: 0 auto;
  padding: 1rem;
}


@media (max-width: 768px) {

}


@media (max-width: 960px) {
}

@media  (max-width: 1024px) {
}


@media (max-width: 1280px) {
}
