/* 전체 컨테이너 */
.products-view {
  margin-top: -40px;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

/* 카테고리별 섹션 */
.category-section {
  /* width: 100%; */
  text-align: center;
  align-items: center;
  margin-bottom: 3rem;
}

/* 카테고리 제목 */
.category-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  width: 100%;
}

/* 제품 목록 (모바일 기본: 한 줄, 768px 이상: 두 줄) */
.product-grid {
  width: 100%;
  justify-content: center;
  margin: 0 0 0 0;
  gap: 1.5rem;
  display: grid;
}

/* 개별 제품 카드 */
.product-card {
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  text-align: center;
  background-color: #fff;
  width: 42rem; /* 686px; */
  transition: width 0.3s ease-out, max-width 0.3s ease-out;
  display: block;
  text-decoration: none;
}

/* 이미지 컨테이너 */
.img-wrap {
  /* gap: 1rem; */
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 20rem; /* 320px; */
}

/* 상품 이미지 */
.product-img {
  width: 7.875rem; /* 126px */
  height: 10rem; /* 160px */
  transition: transform 0.3s ease-out;
}
.product-img:hover {
  transform: scale(1.2);
}

.text-box {
  padding: 2rem;
  background-color: #f3f4f6;
  text-align: left;
  font-size: 1rem;
  line-height: 1.5rem;
  color: black;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  height: 126px;
}
.text-box p:first-child {
  margin: 0 0 1.5rem;
  font-weight: bold;
}

@media (min-width: 768px) {
  .product-grid {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: repeat(2, minmax(15rem, 1fr));
    gap: 1.5rem;
    justify-items: center;
  }

  /* 개별 제품 카드 */
  .product-card {
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    background-color: #fff;
    width: 100%;
    max-width: 28.625rem;
    flex-grow: 1;
    display: block;
    text-decoration: none;
  }

  .img-wrap {
    gap: 1.5rem;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 21.6875rem; /* 347px */
    height: 20rem; /* 320px */
  }

  .product-img {
    width: 7.875rem; /* 126px */
    height: 10rem; /* 160px */
    transition: transform 0.3s ease-out;
  }
  .product-img:hover {
    transform: scale(1.2);
  }

  .text-box {
    padding: 0.9375rem; /* 15px */
    background-color: #f3f4f6;
    font-size: 1rem;
    line-height: 1.5rem;
    color: black;
    display: flex;
    flex-direction: column;
    height: 126px;
  }
  .text-box p:first-child {
    margin: 0 0 20px;
    font-weight: bold;
  }
}

@media (min-width: 960px) {
  .carousel .control-dots {
    bottom: 0;
  }
}

@media screen and (max-width: 1024px) {
  .carousel-container {
    margin-top: -4rem;
  }
  .carousel-slider {
    height: 13.75rem;
  }
  .carousel-container .carousel-slide {
    height: 21rem;
  }

  .control-arrow:before,
  .control-arrow:before {
    visibility: hidden;
  }
}

@media (min-width: 1025px) {
  .product-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  /* 개별 제품 카드 */
  .product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    background-color: #fff;
    width: 13.5rem; /* 216px */
    display: block;
    text-decoration: none;
  }

  .img-wrap {
    gap: 1.5rem;
    /* max-width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* width: 220px; */
    /* height: 320px; */
  }

  .product-img {
    width: 7rem; /* 112px */
    height: 9.375rem; /* 150px */
  }
  .category-section:nth-child(1) .product-card:nth-child(3) img {
    height: 8.4375rem; /* 135px */
  }
  .category-section:nth-child(2) .product-card:nth-child(2) img,
  .category-section:nth-child(2) .product-card:nth-child(4) img {
    height: 3.625rem; /* 58px */
  }
  .category-section:nth-child(3) .product-card:nth-child(2) img,
  .category-section:nth-child(3) .product-card:nth-child(3) img {
    height: 5rem; /* 80px */
  }

  .product-img:hover {
    transform: scale(1.2);
    transition-duration: 0.3s;
  }

  .text-box {
    padding: 2.0625rem; /* 33px */
    background-color: #f3f4f6;
    font-size: 1rem;
    line-height: 1.5rem;
    color: black;
    display: flex;
    flex-direction: column;
    width: 13.5rem; /* 216px */
    height: 14.25rem; /* 228px */
  }
  .text-box p:first-child {
    font-weight: bold;
  }
}

@media (min-width: 1280px) {
  .product-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  /* 개별 제품 카드 */
  .product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    background-color: #fff;
    width: 19.75rem; /* 316px */
    display: block;
    text-decoration: none;
  }

  .img-wrap {
    gap: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .product-img {
    width: 7.5625rem; /* 121px */
    height: 10rem; /* 160px */
  }
  .category-section:nth-child(1) .product-card:nth-child(3) img {
    height: 8.4375rem; /* 135px */
  }
  .category-section:nth-child(2) .product-card:nth-child(2) img,
  .category-section:nth-child(2) .product-card:nth-child(4) img {
    height: 5.6875rem; /* 91px */
  }
  .category-section:nth-child(3) .product-card:nth-child(2) img,
  .category-section:nth-child(3) .product-card:nth-child(3) img {
    width: 9.875rem; /* 158px */
    height: 6.9375rem; /* 111px */
  }
  .category-section:nth-child(3) .product-card:nth-child(1) img,
  .category-section:nth-child(3) .product-card:nth-child(4) img {
    width: 6.75rem; /* 108px */
  }

  .product-img:hover {
    transform: scale(1.2);
    transition-duration: 0.3s;
  }

  .text-box {
    padding: 2.0625rem; /* 33px */
    background-color: #f3f4f6;
    font-size: 1rem;
    line-height: 1.5rem;
    color: black;
    display: flex;
    flex-direction: column;
    width: 19.75rem; /* 316px */
    height: 11.25rem; /* 180px */
  }
  .category-section:nth-child(1) .text-box {
    height: 9.75rem; /* 156px */
  }
  .text-box p:first-child {
    font-weight: bold;
  }
}
